	<div id="contact-loader"></div>
	<!--REGISTER-->
	<div class="register-form">
		<span class="flower"></span>
		<div class="close-form"></div>
		<form onsubmit="return validateregister();" id="frm_register" name="frm_register" method="post">
			<div class="require-col">
				<h3>Đăng ký nhận thông tin</h3>
				<div class="input-text">
					<input id="nameregister" name="nameregister" value="Họ và Tên (*)" type="text">
				</div>
				<div class="input-text">
					<input id="emailregister" name="emailregister" value="Email (*)" type="text">
				</div>
				<div class="input-text">
					<input id="phoneregister" name="phoneregister" value="Điện thoại (*)" type="text">
				</div>
				<div class="input-text">
					<input id="addressregister" name="addressregister" value="Địa chỉ" type="text">
				</div>
				<div class="input-area">
					<textarea name="commentregister" id="commentregister">Nội dung (*)</textarea>
				</div>
				<div class="input-but">
					<div class="button">
						<input id="btn-register-submit" value="GỬI" type="button">
					</div>
				</div>
			</div>
		</form>
	</div>
	<!--REGISTER-->
	<script type="text/javascript">
	function validateregister(){
		hidemsg();
		var flagregister = true;
		var nameregister = checkNull('nameregister', "Vui lòng nhập tên!","Họ và Tên (*)",'40','-270');
		var commentregister = checkNull('commentregister', "Vui lòng nhập nội dung!","Nội dung (*)",'40','-270');
		var phoneregister = checkNull('phoneregister', "Điện thoại không hợp lệ!","Điện thoại (*)",'40','-270');
			var emailregister = checkMail('emailregister', "Email không hợp lệ!","Email (*)",'40','-270');
		if(!nameregister || !commentregister || !phoneregister || !emailregister  ){
			flagregister = false;
			setTimeout(hideerror,5000);
		}
		return flagregister;
	}
		$('#btn-register-submit').click(function(){
			hideerror();
			hidemsg();
			if(validateregister()==true){
				//$("#contact-loader").show();
				$('.loadicon').show();
				$('.loadicon').addClass('loader');
				DrawLoad();
				var datapost = $('#frm_register').serialize();
				
				$.ajax({
				type: "POST",
				url: "http://bellavilla.vn/send-register.html",
				data: datapost,
				success: function(success) {
					//$("#contact-loader").hide();
					$('.loadicon').hide();
					$('.loadicon').removeClass('loader');
					$('.loadicon').removeClass('show');
					$('.contact-success').remove();
					if(success=='1'){
						document.getElementById('frm_register').reset();
						$('.close-form').trigger('click');
													$('#contact-loader').after("<div  class='contact-success color-blue'>Thông tin đăng ký của Bạn được gửi hoàn tất ! Cảm ơn Bạn !</div>");
					}else{
						$('#contact-loader').after("<div  class='contact-success color-red'>Thông tin đăng ký của bạn không gửi được, vui lòng kiểm tra lại!</div>");
					}
					$('html, body').animate({scrollTop:0}, 'slow');
					setTimeout(hidemsg,5000);
				}
				});  //end ajax
				return false;
				}//end if
			$(".formError").click(function(){
					$(this).remove();
			});
						return false;
		});
		$("#phoneregister").numeric();
		$('#frm_register').keydown(function(e) {
	if(!$("textarea").is(":focus")){
			if (e.keyCode == 13) {
				$('#btn-register-submit').trigger('click');
	}
			}
	});
	</script>