<!--FOOTER-->
			<footer class="footer">
				<!--INVESTOR-->
				<div class="investor desktop">
					<ul>
						<img src="{{ site.url }}/catalog/view/theme/default/images/Logo-VimeFulland.png" alt="logo Vimefulland" width="150">
					</ul>
				</div>
				<!--INVESTOR-->
				<div class="bottom-link">
					<a class="go-page" href="{{ site.url }}/vi/tien-ich/">Tiện ích<span></span></a>
					<a class="go-page" href="{{ site.url }}/vi/san-pham/">Sản phẩm<span></span></a>
					<div class="subscribe-icon"><a href="javascript:void(0);">TƯ VẤN VIP</a></div>
				</div>
				<!--SOCIAL-->
				<div class="social">
					<ul>
						<li><a class="facebook" href="#" target="_blank"></a></li>
						<li><a class="youtube" href="#"  target="_blank"></a></li>
						<li><a class="google" href="#"  target="_blank"></a></li>
					</ul>
				</div>
				<!--SOCIAL-->
				<!--COPYRIGHT-->
				<div class="bottom-text">
					<div class="copyright">2018 <strong>Athena Fulland</strong>.  All Rights Reserved.</div>
				</div>
				<!--COPYRIGHT-->
			</footer>
			<!--FOOTER-->