<div class="overlay-menu"></div>
<div class="whell"></div>
<div class="go-top"></div>
<div class="scroll-down"></div>
<div class="mask"></div>
<div class="httpserver class-hidden">http://riverpanorama.vn/</div>
<div class="httptemplate class-hidden">http://riverpanorama.vn/catalog/view/theme/</div>
<div class="text-close class-hidden">close</div>
<script type="text/javascript" src="{{ site.url }}/assets/js/tween.js"></script>
<script type="text/javascript" src="{{ site.url }}/assets/js/btq.js"></script>
