<div class="overlay-menu"></div>
<div class="whell"></div>
<div class="go-top"></div>
<div class="scroll-down"></div>
<div class="mask"></div>
<div class="httpserver class-hidden">{{ site.url }}/</div>
<div class="httptemplate class-hidden">{{ site.url }}/catalog/view/theme/</div>
<div class="text-close class-hidden">close</div>
<script type="text/javascript" src="{{ site.url }}/catalog/view/theme/default/js/tween.js"></script>
<script type="text/javascript" src="{{ site.url }}/catalog/view/theme/default/js/btq.js"></script>
<!-- <script type="text/javascript" src="{{ site.url }}/catalog/view/theme/default/js/load.js"></script> -->
<!-- <script type="text/javascript" src="{{ site.url }}/catalog/view/theme/default/js/validate.js"></script> -->
<!-- <script type="text/javascript" src="{{ site.url }}/catalog/view/theme/default/js/slide.js"></script> -->
<!-- <script type="text/javascript" src="{{ site.url }}/catalog/view/theme/default/js/scroll.js"></script> -->
<script type="text/javascript" src="{{ site.url }}/catalog/view/theme/default/js/grid.js"></script>
<script type="text/javascript" src="{{ site.url }}/catalog/view/theme/default/js/customer_source.min.js"></script>
<!-- <script type="text/javascript" src="{{ site.url }}/catalog/view/theme/default/js/common.js"></script> -->
<!-- <script type="text/javascript" src="{{ site.url }}/catalog/view/theme/default/js/jquery.validationEngine.js"></script> -->
<script src="//cdn.cognitocrm.com/js/customer_source.min.js"></script>
<!-- <script type="text/javascript" src="http://riverpanorama.vn/catalog/view/theme/default/js/load.js"></script> -->

<!--script async src="//static.zotabox.com/c/2/c2f7acfc9ec2a4999af1259951843b44/widgets.js"></script-->
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5b62df57df040c3e9e0c36c4/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
<script>
    jQuery(document).ready(function () {
        jQuery('.loadicon').hide();
    });
</script>