		<!-- Footer
		============================================= -->
		<footer id="footer" class="dark">

			<div class="container">

				<!-- Footer Widgets
				============================================= -->
				<div class="footer-widgets-wrap clearfix">

					<div class="col_half">

						<div class="widget clearfix">

							<a href="{{ site.url }}"><img src="{{ site.url }}/images/footer-logo.png" alt="Logo datdanang.net.vn"></a>

							<div class="line" style="margin: 30px 0;"></div>

							<div style="background: url('{{ site.url }}/images/world-map.png') no-repeat center center; background-size: 100%;">
								<address>
									<strong>TRỤ SỞ:</strong><br>
									Tầng 14 Tòa nhà KeangNam<br>
									Phường Yên Hòa, Quận Cầu Giấy, TP. Hà Nội<br>
								</address>
								<abbr title="Phone Number"><strong>Phone:</strong></abbr> <a href="tel:0905188805">0905 1 888 05</a><br>
								<abbr title="Fax"><strong>Mobile:</strong></abbr> <a href="tel:0985629621">0985 629 621</a><br>
								<abbr title="Email Address"><strong>Email:</strong></abbr> <a href="mailto:info@info@datdanang.net.vn">info@datdanang.net.vn</a><br>
							</div>
						
						</div>

					</div>

					<div class="col_one_fourth">

						<div class="widget clearfix">
							<h4>Bài viết mới nhất</h4>

							<div class="row">
							    {% for post in site.categories.tin-tuc limit:3 %}
							        <div class="spost clearfix">
							            <div class="entry-c">
							                <div class="entry-image">
							                   <a href="{{ site.url }}{{ post.url }}"><img class="image_fade img-circle" src="{{ post.image }}" alt="{{ post.title }}"></a>
							                </div>
							                <div class="entry-title">
							                    <h5><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h5>
							                </div>
							                <ul class="entry-meta clearfix">
							                    <li><i class="icon-calendar3"></i> {{ post.date | date_to_long_string }}</li>
							                    <!-- <li><a href="#"><i class="icon-comments"></i> 12</a></li> -->
							                </ul>
							                <!-- <div>
							                    <p>{{ post.excerpt }}</p>
							                </div> -->
							            </div>
							        </div>
							    {% endfor %}
							</div>

						</div>

					</div>

					<div class="col_one_fourth col_last">

						<div class="widget clearfix" style="margin-bottom: -20px;">

							<div class="row">

								<div class="col-md-6 bottommargin-sm">
									<div class="counter counter-small"><span data-from="50" data-to="721" data-refresh-interval="80" data-speed="3000" data-comma="true"></span></div>
									<h5 class="nobottommargin">Khách hàng</h5>
								</div>

								<div class="col-md-6 bottommargin-sm">
									<div class="counter counter-small"><span data-from="100" data-to="365" data-refresh-interval="50" data-speed="2000" data-comma="true"></span></div>
									<h5 class="nobottommargin">Chốt căn</h5>
								</div>

							</div>

						</div>

						<div class="widget subscribe-widget clearfix">
							<h5><strong>Đăng kí</strong> để nhận ngay khuyến mãi mới nhất từ <span>{{ site.name }}</span></h5>
							<div class="widget-subscribe-form-result"></div>
							<form id="widget-subscribe-form" action="subscribe.php" role="form" method="post" class="nobottommargin">
								<div class="input-group divcenter">
									<span class="input-group-addon"><i class="icon-email2"></i></span>
									<input type="email" id="widget-subscribe-form-email" name="widget-subscribe-form-email" class="form-control required email" placeholder="Địa chỉ Email">
									<span class="input-group-btn">
										<button class="btn btn-success" type="submit">ĐĂNG KÍ</button>
									</span>
								</div>
							</form>
						</div>

						<div class="widget clearfix" style="margin-bottom: -20px;">

							<div class="row">

								<div class="col-md-6 clearfix bottommargin-sm">
									<a href="#" class="social-icon si-dark si-colored si-facebook nobottommargin" style="margin-right: 10px;">
										<i class="icon-facebook"></i>
										<i class="icon-facebook"></i>
									</a>
									<a href="#"><small style="display: block; margin-top: 3px;"><strong>Fanpage</strong><br>Facebook</small></a>
								</div>
								<div class="col-md-6 clearfix">
									<a href="{{ site.url }}/rss.xml" class="social-icon si-dark si-colored si-rss nobottommargin" style="margin-right: 10px;">
										<i class="icon-rss"></i>
										<i class="icon-rss"></i>
									</a>
									<a href="{{ site.url }}/rss.xml"><small style="display: block; margin-top: 3px;"><strong>Đăng kí</strong><br>Nhận tin</small></a>
								</div>

							</div>

						</div>

					</div>

				</div><!-- .footer-widgets-wrap end -->

				<div class="clear"></div>

				<div class="row center">
					© Copyright {{ site.time | date:"%Y" }}. All Rights Reserved by {{ site.name }}.<br>
					<div class="copyright-links"><a rel="nofollow" href="{{ site.url }}/chinh-sach/">Chính Sách</a> / <a rel="nofollow" href="{{ site.url }}/phap-ly/">Pháp Lý</a></div>
				</div>

			</div>

		</footer><!-- #footer end -->