		<!-- Header
		============================================= -->
		<header id="header" class="transparent-header semi-transparent">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">
						<a href="/" class="standard-logo" data-dark-logo="{{ site.url }}/images/logo.png"><img src="{{ site.url }}/images/logo.png" alt="Logo datdanang.net.vn"></a>
						<a href="/" class="retina-logo" data-dark-logo="{{ site.url }}/images/logo@2x.png"><img src="{{ site.url }}/images/logo@2x.png" alt="Logo datdanang.net.vn"></a>
					</div><!-- #logo end -->

					<!-- Primary Navigation
					============================================= -->
					<nav id="primary-menu" class="style-3">

						<ul>
							<li><a href="/"><div>Trang chủ</div></a></li>
							<li><a href="{{ site.url }}/gioi-thieu/"><div>Giới thiệu</div></a></li>
							<li class="current"><a href="#"><div>Dự án</div></a>
								<ul>
									<li><a href="#"><div>Đất nền</div></a></li>
									<li><a href="#"><div>Đất biệt thự</div></a></li>
									<li><a href="#"><div>Shophouse</div></a></li>
									<li><a href="#"><div>Cho thuê căn hộ</div></a></li>
								</ul>
							</li>
							<li><a href="{{ site.url }}/tin-tuc/"><div>Tin tức</div></a></li>
							<li><a href="{{ site.url }}/lien-he/" class="color"><div>Liên hệ</div></a></li>
						</ul>

						<div id="top-header-buttons" class="hidden-xs">
							<a href="tel:0905188805" class="button button-3d button-small button-rounded">HOTLINE: 09 05 1 888 05</a>
						</div>

						<!-- Top Search
						============================================= -->
						<div id="top-search">
							<a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
							<form action="search.md" method="get">
								<input type="text" name="q" class="form-control" value="" placeholder="Nhập nội dung tìm kiếm...">
							</form>
						</div><!-- #top-search end -->

					</nav><!-- #primary-menu end -->

				</div>

			</div>

		</header><!-- #header end -->