	
	<!--HEADER-->
	<header class="header">
		<!--LOGO-->
		<div class="logo vi"></div>
		<!--LOGO-->
		<!--HOTLINE-->
		<div class="hotline">
			<span class="call"></span>
			<a href="tel:0886945555">088 694 5555</a>
		</div>
		<!--HOTLINE-->
		<div class="language">
			<form id="change_lang" enctype="multipart/form-data" method="post" action="{{ site.url }}/index.php?route=common/home">
				<ul>
					<li class="en "><a href="javascript:void(0);" onClick="$('input[name=\'language_code\']').attr('value', 'en').submit();$('input[name=\'redirect\']').attr('value', 'en/index.html').submit();$('#change_lang').submit();return false;">en</a></li>
				</ul>
				<input type="hidden" value="" name="language_code" />
				<input id="changlanguage_redirect" type="hidden" value="{{ site.url }}/{{ page.url }}" name="redirect" />
			</form>
			</div>
			<div class="nav-click"></div>
		<!--NAVIGATION-->
		<div class="navigation">
			<div class="nav">
				<ul>
					<li ><a class="link-load" href="{{ site.url }}" data-name="home-page" data-title="Athena Fulland" data-description="Athena Fulland" data-keyword="Athena Fulland">Trang chủ</a></li>
					<li  ><a class="link-load" href="{{ site.url }}/vi/gioi-thieu/" data-name="about-page" data-title="Athena Fulland" data-description="Athena Fulland" data-keyword="Athena Fulland">Giới thiệu</a></li>
					<li  ><a class="link-load" href="{{ site.url }}/vi/vi-tri/" data-name="location-page" data-title="Athena Fulland" data-description="Athena Fulland" data-keyword="Athena Fulland">Vị trí</a></li>
					<li  ><a class="link-load" href="{{ site.url }}/vi/tien-ich/" data-name="facilities-page" data-title="Athena Fulland" data-description="Athena Fulland" data-keyword="Athena Fulland">Tiện ích</a></li>
					<li  ><a class="link-load" href="{{ site.url }}/vi/can-ho/" data-name="apartment-page" data-title="Athena Fulland" data-description="Athena Fulland" data-keyword="Athena Fulland">Thiết Kế - Mặt Bằng</a></li>
					<!--li  ><a class="link-load" href="{{ site.url }}/vi/tien-do/" data-name="progress-page" data-title="Athena Fulland" data-description="Athena Fulland" data-keyword="Athena Fulland">Tiến độ</a></li>
					<li  ><a class="link-load" href="{{ site.url }}/vi/thu-vien/hinh-anh/" data-name="library-page" data-title="Athena Fulland" data-description="Athena Fulland" data-keyword="Athena Fulland">Thư viện</a></li>
					<li  ><a class="link-load" href="{{ site.url }}/vi/tin-tuc/" data-name="media-page" data-title="Athena Fulland" data-description="Athena Fulland" data-keyword="Athena Fulland">Tin tức</a></li-->
					<li  ><a class="link-load" href="{{ site.url }}/vi/lien-he/" data-name="contact-page" data-title="Athena Fulland" data-description="Athena Fulland" data-keyword="Athena Fulland">Liên hệ</a></li>
				</ul>
			</div>
			<span></span>
		</div>
		<!--NAVIGATION-->
	</header>
	<!--HEADER-->