                    <div class="box-library">
 
                        <h2 class="fadeindown">TIN TỨC ATHENA FULLAND</h2>
                        <div class="news-list">
                            <div class="scrollB" tabindex="0" style="height: 622px; overflow: scroll; outline: none;">
                                <div class="grid arrange" style="position: relative;">
                                    <a href="{{ site.url }}/vi/tin-tuc/nhung-dieu-can-biet-khi-dau-tu-shophouse.html">
                                        <div class="grid-item show"
                                             style="position: absolute; left: 0%; top: 0px; animation-delay: 450ms;">
                                            <div class="link-page">
                                                <div class="new-icon"></div>
                                                <div class="pic-thumb">
                                                    <img style="height: 160px;"
                                                         src="{{ site.url }}/pictures/images/du-an-belleville-ha-noi.jpg"
                                                         alt="Athena Fulland">
                                                </div>
                                                <div class="head-text">
                                                    <h3>NHỮNG ĐIỀU CẦN BIẾT KHI ĐẦU TƯ VÀO SHOPHOUSE?</h3>
                                                </div>
                                                <a class="go-news"
                                                   href="/vi/tin-tuc/nhung-dieu-can-biet-khi-dau-tu-shophouse.html"
                                                   data-name="n-116" data-title="Athena Fulland"
                                                   data-description="Athena Fulland" data-keyword="Athena Fulland"></a>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="{{ site.url }}/vi/tin-tuc/cam-ket-bao-lanh-ngan-hang.html">
                                        <div class="grid-item show"
                                             style="position: absolute; left: 0%; top: 0px; animation-delay: 450ms;">
                                            <div class="link-page">
                                                <div class="new-icon"></div>
                                                <div class="pic-thumb">
                                                    <img style="height: 160px;"
                                                         src="{{ site.url }}/pictures/news/tong-the-athena-fulland-1000.jpg"
                                                         alt="Athena Fulland">
                                                </div>
                                                <div class="head-text">
                                                    <h3>CAM KẾT BẢO LÃNH CỦA NGÂN HÀNG VIỆT Á BANK TẠI DỰ ÁN ATHENA
                                                        FULLAND</h3>
                                                </div>
                                                <a class="go-news" href="/vi/tin-tuc/cam-ket-bao-lanh-ngan-hang.html"
                                                   data-name="n-116" data-title="Athena Fulland"
                                                   data-description="Athena Fulland" data-keyword="Athena Fulland"></a>
                                            </div>
                                        </div>
                                    </a>
                                    
                                    <a href="{{ site.url }}/vi/tin-tuc/vi-tri-athena-fulland.html">
                                        <div class="grid-item show"
                                             style="position: absolute; left: 66%; top: 0px; animation-delay: 550ms;">
                                            <div class="link-page">
                                                <div class="pic-thumb"><img
                                                        src="{{ site.url }}/pictures/news/vi-tri-athena-fulland.jpg"
                                                        alt="Vị trí dự án Athena Fulland">
                                                </div>
                                                <div class="head-text">
                                                    <h3>VỊ TRÍ ATHENA FULLAND - KHU ĐÔ THỊ TRIỆU ĐÔ</h3>
                                                </div>
                                                <a class="go-news"
                                                   href="/vi/tin-tuc/vi-tri-athena-fulland.html"
                                                   data-name="n-118" data-title="Athena Fulland"
                                                   data-description="Athena Fulland" data-keyword="Athena Fulland"></a>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>