	<!-- Go To Top
	============================================= -->
	<!--div id="gotoTop" class="icon-line-arrow-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<!--script type="text/javascript" src="{{ site.url }}/assets/js/jquery.js"></script>
	<script type="text/javascript" src="{{ site.url }}/assets/js/plugins.js"></script-->

<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Your customer chat code -->
<div class="fb-customerchat"
  attribution=setup_tool
  page_id="793054830847719"
  logged_in_greeting="Xin chào! Em có thể giúp gì được cho anh/chị ạ?"
  logged_out_greeting="Xin chào! Em có thể giúp gì được cho anh/chị ạ?">
</div>