<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	{% include head.html %}

</head>

<body class="no-transition stretched sticky-responsive-menu">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		{% include header_landingpage.html %}
		

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">

				{{ content }}

			</div>

		</section><!-- #content end -->

		{% include footer_landingpage.html %}

	</div><!-- #wrapper end -->


{% include script.html %}

{% include footer_script.html %}

{% include footer_script_map.html %}

</body>
</html>
 